<nb-card size="medium">
  <nb-card-header>
    <span>Edit Budget</span>
  </nb-card-header>
  <nb-card-body>
    <div>
      <ul>
        <li *ngFor="let item of categories">
          <div class="row">
            <div class="col-md-8 align-self-center">
              <h3>{{ item.name }} {{ item.budgetPercent }}</h3>
            </div>
            <div class="col-md-2 text-right">
              <input type="text" class="form-control">
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Category Name">
      <span class="input-group-append">
        <button class="btn btn-success input-group-text">
          Add
        </button>
      </span>
    </div>
  </nb-card-body>
</nb-card>