<nb-card size="medium">
  <nb-card-header>
    <span>Edit Budget</span>
  </nb-card-header>
  <nb-card-body>
    <div class="budget-bar">
      <div *ngIf="totalPercent <= 100; then validProgressBar else errorProgessBar"></div>
      <ng-template #validProgressBar>
        <nb-progress-bar [value]="totalPercent" status="info">{{totalPercent}}%</nb-progress-bar>
      </ng-template>
      <ng-template #errorProgessBar>
        <nb-progress-bar [value]="100" status="danger">{{totalPercent}}%</nb-progress-bar>
      </ng-template>
    </div>
    <div>
      <ul>
        <li *ngFor="let item of categories">
          <div class="row category">
            <div class="col-md-8 align-self-center">
              <h3>{{ item.name }}</h3>
            </div>
            <div class="col-md-2 text-right">
              <input type="text" class="form-control" [(ngModel)]="item.budgetPercent" (change)="updateTotalPercent()">
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Category Name">
      <span class="input-group-append">
        <button class="btn btn-success input-group-text">
          Add
        </button>
      </span>
    </div>
  </nb-card-body>
</nb-card>