<!-- <div class="row">
  <div class="col-xxl-5">
      <div class="row">
          <div class="col-md-6">
            <mr-ngx-plaid-link-button env="sandbox" publicKey="4c47b9e9962c5b6ec123001fcab399" institution="" (Success)="onPlaidSuccess($event)"
            (Exit)="onPlaidExit($event)" (Load)="onPlaidLoad($event)" (Event)="onPlaidEvent($event)" className="launch-plaid-link-button"
            buttonText="Link Your Bank Account" (Click)="onPlaidClick($event)"></mr-ngx-plaid-link-button>
          </div> 
      </div>
  </div>
</div> -->
    

<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-12">
        <!-- <ngx-profit-card></ngx-profit-card> -->
        <ngx-plaid-button></ngx-plaid-button>
      </div>
    </div>

    <!-- <ngx-traffic-reveal-card></ngx-traffic-reveal-card> -->
  </div>

  <!-- <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div> -->

<div class="row">
  <!-- <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div> -->

  <!-- <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div> -->
  
  <div class="col-xxl-3">
    <ngx-transactions></ngx-transactions>
  </div>
</div>
